#submitButton {
 background-color: #4b5769;
 color:#f4f7fb;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
}
#container {
  display: block;
  margin: 80px auto 0;
  width: 320px;
}
p {
  color: #e2e5ea;
  text-align: center;
}
.checkbox {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin-right: 1rem;
  text-align: center;
  width: 32px;
  vertical-align: middle;
}
.no svg {
  margin-top: 6px;
  stroke: #fff;
}
.yes {
  background-color: #4aca65;
  border-color: #43b45b;
}
.maybe {
  background-color: #f6ce3e;
  border-color: #f6ce3e;
}
.label {
  font-weight: bold;
  vertical-align: middle;
}

.day {
  font-size: 25px;
  color:#7b7b7b;
  text-transform: uppercase;

}

.people {
  color: black;
}