body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
}
#container {
  display: block;
  margin: 80px auto 0;
  width: 320px;
 /* // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  */
}

p {
  color: #e2e5ea;
  text-align: center;
}

.card {
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  width: 320px;
}

.card header {
  background-color: #4b5769;
  color: #fff;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.card .content {
  background-color: #f4f7fb;
  padding: 1.5rem 2.5rem;
}

.card .content .row {
  border-bottom: solid 1px #e2e5ea;
  padding: 0.75rem 0;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

.card .content .row:last-child {
  border: none;
}

.checkbox {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin-right: 1rem;
  text-align: center;
  width: 32px;
  vertical-align: middle;
}

.checkbox svg {
  margin-top: 6px;
  stroke: #fff;
}

.positive {
  background-color: #4aca65;
  border-color: #43b45b;
}

.tentative {
  background-color: #dc4e4e;
  border-color: #c74545;
}

.label {
  font-weight: bold;
  vertical-align: middle;
}
